!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0', name: 'viewport'}
    %title TheShoWatch
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'
  %body
    %nav.navbar
      .container
        .navbar-nav
          = link_to 'TheShoWatch', root_path, class: "navbar-brand"
          = link_to 'Сериалы', '#', class: 'nav-item'
          .navbar-nav--right
            - if current_user
              %span.nav-item= current_user.email
              = link_to 'Выйти', logout_path, method: :delete, class: 'nav-item'
            - else
              = link_to 'Войти', login_path, class: 'nav-item'
              = link_to 'Зарегистрироваться', new_user_registration_path, class: 'nav-item'
    .main-content-wrapper
      = yield
    %footer.footer
      .container
        © 2019
