<!DOCTYPE html>
<html>
  <head>
    <title>Theshowatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-nav">
          <a href=<%= root_path %> class="navbar-brand">TheShoWatch</a>
          <a href="#" class="nav-item">Сериалы</a>
        </div>
      </div>
    </nav>

    <div class="body">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        © 2019
      </div>
    </footer>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
